@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background-main: #e2e1e1;
  --background-card: #fff;
  --text-primary: #494949;
  --text-secondary: #7a7a7a;
  --primary: #ff7c7c;
  --secondary: #683ce0;
  --priority-1: #ff4c4c;
  --priority-2: #f1a22b;
  --priority-3: #6cd463;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #292828;
  background: linear-gradient(to bottom right, #edddf1 30%, #af9abb 70%);
}
.todo-main {
  width: 100%;
  max-width: 740px;
  margin: 100px auto 20px;
  background: var(--background-main);
  border-radius: 20px;
}
.upper-section {
  background-color: var(--background-card);
  padding: 40px 30px 0;
  border-radius: 20px 20px 0 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  width: 100%;
}

h2 {
  font-size: 2.4rem;
  color: var(--text-primary);
}
.calendar-btn {
  background: none;
  border: none;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-items {
  display: flex;
  gap: 3px;
  align-items: center;
}
.top-date {
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 600;
}
.calendar-days {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 0;
}
.day {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 16px 20px 20px;
}
.day-name {
  text-transform: uppercase;
  color: var(--text-secondary);
  font-weight: 600;
}
.day-number {
  color: var(--text-primary);
  font-size: 2.4rem;
  font-weight: 700;
}
.day.selected {
  background: #683ce0;
  border-radius: 10px 10px 0 0;
}

.selected .day-name {
  color: #fff;
}
.selected .day-number {
  color: #fff;
}
